/* 
site.css
Daniel Orlovsky
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END DEFAULT STYLES RESET */


body {
    width: 100%;
    box-sizing: border-box;
}


/**********************************************************
**** BASE CONTENT STYLES **********************************
***********************************************************/
body, h1, h2, h3, h4, h5, h6, p, ul, li, div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-content {padding: 25px 15% 0; color: #666; }
footer { padding: 25px 15%; background-color: #e7e8ea; }
footer:after {
    clear: both;
    content: "  ";
    display: block;
}
header {
    overflow: auto;
    background-color: #318fc2;
    padding: 0 15%;
    box-sizing: border-box; 
}

p, li { font-size:1.25em; color: #666; line-height: 1.4em; }
p { margin: 20px 0;}
li { list-style-position: inside;}

a, .tabrow li { color: #4682b4;}
a:hover { color: #2a4e6c; }

h1, h2 { font-weight: 100; }
h3, h4, h5, h6 { font-weight: 700; }
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.55em; }
h5 { font-size: 1.35em; }
h6 { font-size: 1.25em; }


section { padding: 20px 0; }


/**********************************************************
**** NAVBAR STYLES ****************************************
***********************************************************/
.nav ul { list-style-type: none; }
.nav-left { float: left; }
.nav-right { float: right; }
header .nav-right li {
    line-height: 78px;
}
.nav-right li {
    display: inline-block;
    padding: 0 30px;
    font-size: 1.2em;
}
.nav-left a { text-decoration: none; }
header .nav-right li:hover { background-color:#2a4e6c;}
.nav-right a { text-decoration: none;}
header .nav-right a {
    color: white;
}
.logo { 
    width: 300px;
    height: 74px;    
    background-image: url('../img/urbank@2x.png');
}
/**********************************************************
**** BODY STYLES ******************************************
***********************************************************/
strong { font-weight: 800; }
article > h1, article > h5 {
    color: #640360; 
}
.left-column, .right-column{ padding: 30px 0;}
.left-column {
    float: left;
    width: 66%;

}
.right-column {
    float: right;
    width: 29%;
}
.login-button {
    width: 100%;
    text-align: center;
    background-color: #640360;
    border: none;
    padding: 20px;
    color: white;
    font-size: 1.2em;
}

.soft-hero {
    background-color: #bbd8c4;
    padding: 10px 25px;
    margin-top: 50px;
}
.hero-info p{
    width: 75%;
}

.phone-display {
    float: right;
    margin-top: -365px;
    background-image: url('../img/iphone@2x.png');
    background-repeat: no-repeat;
    width: 206px;
    height: 355px;
}
input[type=text], input[type=password] {
    border: 1px solid #318fc2;
    padding: 10px;
    font-size: 1.2em;
}

.headline  h2 {
    display: inline-block;
    padding: 0 20px;
}

.headline h2:first-child {
    border-right: 1px solid #666; padding-left: 0;
}
.body-content:after {
    clear: both;
    content: "  ";
    display: block;
}
/**********************************************************
**** LOGIN FORM STYLES ************************************
***********************************************************/
#login-form {
    display: none;
    opacity: 0;
    padding: 0;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,.5);   
}
.login-form {
    width: 33%;
    padding: 25px;
    margin: 10% auto auto auto;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
}

.login-form-header > h2 {
    display: inline-block;
}
.login-form-body {
    padding-top: 25px;
}
.form-row > label {
    font-weight: 800;
    font-size: 1.4em;
    width: 25%;
}
.form-row {
    margin-top: 10px;
}
.form-row > input {
    float: right;
    width: 74%;
}
.form-row:after {
    clear: both;
    display: block;
    content: "  ";
}
.close-login-form {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('../img/times@2x.png') no-repeat;
}
.login-button-wrapper {
    width: 200px;
    height: 50px;
    float: right;
}

/**********************************************************
**** RATE TABLE STYLES ************************************
***********************************************************/
table.table {
    border-collapse: collapse;
    margin-top: 20px;   
    width: 100%;
    text-align: right;
}
td, th { padding: 15px 7px; }
tbody td {
    font-size: 1.5em;
    min-width: 200px;
}
td:first-child {
    text-align: left;
    padding-left: 10px;
}
tbody > tr:first-child {
    font-weight: 800;
    font-size: 1.5em;
}
tbody > tr:nth-child(odd) {
    background-color: #eef5ee;
}
tbody > tr:nth-child(even) {
    background-color: #deebe1;
}

/**********************************************************
**** TAB STYLES *******************************************
***********************************************************/
.tabrow {
  text-align: left;
  list-style: none;
}
.tabrow li {
    position: relative;
    padding: 10px;
    width: 30%;
    margin: 0 -3px;
    border-top: 1px solid #aaa;
    font-size: 1.4em;
    background: #deebe1;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 0;
}
.tabrow li:first-child {
    margin: 0;
}
.tabrow li.active {
    background: #f5f5f5;
    color: #000;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 20px;
    z-index: 0;
    top: 2px;
}
.tabrow li.active:first-child { 
    border-left: none;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 25px;
    border-top: 1px solid #ccc;   
    background-color: #f5f5f5;
    
}

.tabcontent a { text-decoration: none;}
.tabcontent.active { display: block;}


/**********************************************************
**** RESPONSIVE STYLES ************************************
***********************************************************/
@media only screen and (max-width: 1200px) {
    .body-content, header { padding: 0 5%; }
    .logo { 
        width: 150px;
        height: 38px;    
        background-image: url('../img/urbank.png');
    }
    header .nav-right li {
        line-height: 38px;
    }
    .hero-info p{
        width: 65%;
    }        
    .left-column {
        width: 66%;
    }
    .right-column {
        width:33%;
    }
    .login-form {
        width: 66%;
        padding: 25px;
        margin: 10% auto auto auto;
        background-color: #fff;
        box-shadow: 0 0 5px #000;
    }
    
}

@media only screen and (max-width: 1024px) {
    .body-content, header { padding: 0 5px; }
    footer { padding: 20px 5px;}
    .left-column {
        float:none;
        display: block;
        margin: 0 auto;
        width: 95%;
        padding: 0;
    }
    .right-column {
        float:none;
        display: block;
        margin: 0 auto;
        width: 95%;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .nav-right li {
        padding: 0 15px;
    }
    
}
@media only screen and (max-width: 640px) {
    .phone-display {
        margin-top: -190px;
        background-image: url('../img/iphone.png');
        width: 102px;
        height: 180px;
    }
    .hero-info > p{
        width: 80%;
    }    
}
@media only screen and (max-width: 420px) {
    .hero-info > p{
        width: 100%;
    }
    #rate-table {
        overflow: auto;
    }
    .phone-display {
        display: none;        
    }
    .close-login-form {
        width: 16px;
        height: 16px;
        padding-right: 5px;  /* Push the close button off the margin */
        background: url('../img/times.png') no-repeat;
    }
    .login-form {
        width: 90%;
        padding: 20px;  
        margin: 15% auto auto auto;
        
    }
    .login-form-header > h2 {
        font-size: 2em;
    }
    .form-row > label {
        font-weight: 800;
        font-size: 1.4em;
        display: block;
    }
    
    .form-row > input {
        display: block;
        width: 95%;
        margin-top: 10px;
    }
    
    .nav-right li {
        display: block;
        padding: 10px;
        
    }
    .logo {
        display: block;
        margin: 0 auto;
    }
    .nav-left, .nav-right {
        float: none;
        display: block;
        text-align: center;
    }
    header .nav-right li {
        line-height: 16px;
        border-bottom: 1px solid #e7e8ea;
    }
    .headline h2 {
        display: inline-block;
        padding: 0 20px;
        font-size: 1.8em;
    }
       
}
@media only screen and (max-width: 320px) {
    .headline h2 {
        padding: 5px;
    }
    .login-form-header > h2 {
        font-size: 1.65em;
    }

}

